<div class='container'>
<div class='row new_users_form'>    
<div class='new_user_form'>
<h1>新規登録</h1>
    
<%=form_with model: @staff do |f|%>
<p>名前</p>
<%=f.text_field:name%>
<p>メールアドレス</p>
<%=f.text_field:email%>
<p>パスワード</p>
<%=f.password_field:password%>
<p>パスワード確認</p>
<%=f.password_field:password_confirmation%><br><br>

<%=f.submit '登録完了' ,class:'form-control btn btn-primary'%>
<%end%>
</div>
</div>
</div>