<div class='container'>
    <div class= 'row new_session'>
    <div class='new_session_form'>
<h1>ログイン</h1>

<%=form_with scope: :session do |f|%>
<P>メールアドレス</P>
<%=f.text_field:email,class:'form-control'%>
<P>パスワード</P>
<%=f.password_field:password,class:'form-control'%><br>
<div class='radio_button'>
<%=f.radio_button :kind, :'1'%>
<%=f.label :kind, "ボランティア応募", {value: :'1', style: "display: inline-block;"} %><br>
<%=f.radio_button :kind, :'2' %>
<%=f.label :kind, "ボランティア募集", {value: :'2', style: "display: inline-block;"} %>
</div>


<%=f.submit 'ログイン',class:'form-control btn btn-primary'%>
<%=link_to '新規登録', new_user_path%>

<%end%>

    </div>
        
    </div>

</div>