<div class='container'>
<div class='new_tasks_form'>    
<%=form_with model: @task do |f|%>
<%= f.file_field :picture '画像' ,class:'form-control btn btn-primary' %>
<%= f.hidden_field :user_id, value: current_user.id %>
<p>タイトル</p>
<%=f.text_field:name,class:'form-control'%>
<p>詳細</p>
<%=f.text_area:content,rows: 10,class:'form-control '%>
<p>住所</p>
<%=f.text_field:address,class:'form-control'%>
<p>最寄り駅</p>
<%=f.text_field:station,class:'form-control'%>
<p>時間</p>
<%=f.text_field:time,class:'form-control'%>
<p>活動頻度</p>
<%=f.text_field:week,class:'form-control'%><br>
<%=f.submit '投稿する' ,class:'form-control btn btn-primary'%>
<%end%>
</div>
</div>