<% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class='container'>
    
    
<div class='row new_users_form'>    
<div class='new_user_form'>
<h1>新規登録</h1>
    
<%=form_with model: @user,local: true do |f|%>
<%= f.hidden_field :user_address, value: '空欄です。' %>
<%= f.hidden_field :born, value: '空欄です。' %>
<%= f.hidden_field :user_message, value: '空欄です。' %>
<%= f.hidden_field :icon, value: '挿入されていません。' %>
<%= f.hidden_field :organization_name, value: '空欄です。' %>
<p>名前</p>
<%=f.text_field:name,class:'form-control'%>
<p>メールアドレス</p>
<%=f.text_field:email,class:'form-control'%>
<p>パスワード</p>
<%=f.password_field:password,class:'form-control'%>
<p>パスワード確認</p>
<%=f.password_field:password_confirmation,class:'form-control'%>
<div class='radio_button'>
<%=f.radio_button :kind, :'1'%>
<%=f.label :kind, "ボランティア応募", {value: :'1', style: "display: inline-block;"} %><br>
<%=f.radio_button :kind, :'2' %>
<%=f.label :kind, "ボランティア募集", {value: :'2', style: "display: inline-block;"} %>
</div>


<%=f.submit '登録完了' ,class:'form-control btn btn-primary'%>
<%end%>
</div>
</div>
</div>