<!DOCTYPE html>
<html>
  <head>
    <title>Match</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
    <header>
      <%if current_user%>
      <div class='container'>
        <div class='header_tab row '>
          <div class='tasks_button col-auto mr-auto'>
            <h3><%=link_to 'ボランティア' , tasks_path, class:'task_button'%></h3>
          </div>
          <div class='sub_tab col-auto'>
            <%=link_to 'プロフィール' , user_path(current_user.id), class:'sub_button'%>
            <%=link_to 'ログアウト' , logout_path, method: :delete, class:'sub_button'%>
          </div>
        </div>
      </div>
      <%elsif current_staff%>
      <%else%>
      <div class='container'>
        <div class='header_tab row '>
          <div class='tasks_button col-auto mr-auto'>
            <h3><%=link_to 'ボランティア' , tasks_path, class:'task_button'%></h3>
          </div>
          <div class='sub_tab col-auto'>
            <%=link_to 'ログイン' , login_form_path, class:'sub_button'%>
            <%=link_to '新規登録' , root_path, class:'sub_button'%>
          </div>
        </div>
      </div>
      <%end%>
    </header>
  
  <body>

    <%= yield %>
  </body>
</html>
